*{
    padding: 0;
    margin: 0;
}
.pagina{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: indianred;
    background-image: url(Images/Lobby.jpg); background-size: cover; background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: darkred;
}

ul{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.botaoNavBar{
    width: 90px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
    font-family: Verdana, Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

